@import 'tailwindcss';

@theme {
	--container-xs: 16rem;
	--container-sidebar: 12rem;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui" {
	themes:
		black --default,
		black --prefersdark;
}
